/*
body {
  background-color: gainsboro;
}

.summary, .preamble, .explanation, .participation, .benefits, .requirements {
  border:1px solid black;
  width:66%;
  float:left;
}

footer {
  display:none;
}

aside {
  border:1px solid black;
  width:30%;
  margin-left:67%;
}

@media all and (width:320px) {
  body {
    background-color:orange;
  }

  .summary, .preamble, .explanation, .participation, .benefits, .requirements {
    width:auto;
    float:none;
  }

  aside {
    width:auto;
    margin-left:0;
  }

}
*/
/*check urban bound*/
/*Use this for google font*/
@import url('https://fonts.googleapis.com/css?family=Dosis');

h1{
  font-family: "Dosis";
}
body {
  font-family: "Dosis", Tahoma, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: #70797c;
  /*background-color: #CAE1FF;*/
}
div {
  /*max-width: 960px;*/
  margin: 0 auto;
}

#zen-summary{
  background-color:
}

#zen-supporting{
  width:90%;
  border: 1px solid blue;
}

#zen-explanation{
  background-color: #36424a;
}
#zen-explanation h3{
  color: #01aff0;
}
#zen-explanation p {
  color: white;
}

#zen-benefits{
  background-color: #dee1e6;
}
#zen-benefits h3{
  color: #1f2324;
}
#zen-benefits p{
  color: #70797c;
}

footer {
  display:none;
  background-color: #36424a;
}

li {
  list-style: none;
}

#design-selection ul{
  margin: 0 auto;
  border: 1px dashed black;
  width:90%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;

}
#design-selection li{
  border: 1px dashed pink;
  /*the padding is 10% of ul, the containing element*/
  padding-bottom: 10%;
  width: 24%;
  text-align: center;
}

/*
.design-name,
.designer-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.design-name,
.designer-name {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.design-name {
  background-color: #ff5078;
}

.designer-name {
  background-color: #1e1e1e;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

#design-selection li .design-name {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

#design-selection li .designer-name {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
*/
/* ====================================
        MAIN BACKGROUND
==================================== */

header[role=banner] h1 {
  position: fixed;

  /*Set the margin and padding to 0 to override Chromes set values*/
  margin:0;
  padding:0;
  width:100%;
  z-index:1;
  text-align: center;
  background-color: #01aff0;
  /*background-image: url("http://cache23.fansshare.com/photos/background/textures-wallpapers-cool-1234374438.jpg");*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*display: block;*/
  color: rgba(255, 255, 255, 0.8);

  font-family: "Dosis",Tahoma,serif;
  font-size: 48px;
  /*line-height: 400px;*/
  /*text-align: center;*/
  text-transform: uppercase;
  text-shadow: 0 0 10px rbga(0,0,0,0.2);
}

header h2 {

  padding-top: 150px;
  width:90%;
  height: 200px;
  text-align: center;
  /*background-color: lightblue;*/
  background-image: url("background.jpg");
  /*background-image: url("http://cache23.fansshare.com/photos/background/textures-wallpapers-cool-1234374438.jpg");*/
  background-position: 50% 80%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*display: block;*/
  color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  font-family: Tahoma, serif;
  font-size: 48px;
  /*line-height: 400px;*/
  /*text-align: center;*/
  text-transform: uppercase;
  text-shadow: 0 0 10px rbga(0,0,0,0.2);
}

h3 {
  text-align: center;
  border: 1px solid black;
  display: block;
  color: black;
  padding-top: 40px;
  margin-bottom: 40px;
  font-family: Tahoma, serif;
  font-size: 30px;

}

/* ====================================
        HOVERING OVER LINKS
==================================== */

a {
  text-decoration: none;
}
p {
  /*padding: 0 40px 40px 40px;*/
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
}
div p:last-child{
  padding-bottom: 40px;
}


p a{
  transition: all 0.2s;
  position: relative;
  color: #ff3296;
}

p a:after, p a:after{
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0px;
  height: 2px;
  background-color: #98004a;
  content:"";
  transition: width 0.2s;
}

p a:hover, p a:hover{
  color: #98004a;
}

p a:hover:after, p a:hover:after{
  width:100%;
}
